{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('status_new') }}">Create a new status</a>
        </li>
    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Wip Limit</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td><a href="{{ path('status_show', { 'id': status.id }) }}">{{ status.id }}</a></td>
                <td>{{ status.name }}</td>
                <td>{{ status.position }}</td>
                <td>{{ status.wipLimit is null ? 'no limit' : status.wipLimit }}</td>
                <td><a href="{{ path('status_show', { 'id': status.id }) }}">show</a></td>
                <td><a href="{{ path('status_edit', { 'id': status.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
