<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <link rel="stylesheet" href="/tagsinput.css" />
    </head>
    <body>
		<div>&nbsp;</div>
		<div class="container">
			<ul class="nav nav-tabs">
              {% if is_granted("ROLE_USER") %}
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "project_index" %}active{% endif %}" href="{{ url('project_index') }}">projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "card_index" %}active{% endif %}" href="{{ url('card_index') }}">tasks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "status_index" %}active{% endif %}" href="{{ url('status_index') }}">status</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "member_index" %}active{% endif %}" href="{{ url('member_index') }}">members</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "kanban" %}active{% endif %}" href="{{ url('kanban') }}">kanban</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "stats" %}active{% endif %}" href="{{ url('stats') }}">stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "users_stats" %}active{% endif %}" href="{{ url('users_stats', { 'username' : app.user.username}) }}">users stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "cards" %}active{% endif %}" href="{{ url('cards') }}">cards</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "settings" %}active{% endif %}" href="{{ url('settings') }}">settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "logout" %}active{% endif %}" href="{{ url('logout') }}">logout</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == "login" %}active{% endif %}" href="{{ url('login') }}">login</a>
                  </li>
              {% endif %}
			</ul>
			<div>&nbsp;</div>
            {% if is_granted("ROLE_USER") %}
                <div class="text-center">
                    [ <a href="{{ path('card_new') }}">new card</a> ] [
                    <a href="https://github.com/sensorario/kanbanoise/projects/1">project</a> |
                    <a href="https://github.com/sensorario/kanbanoise/issues">issues</a> ]
                </div>
			    <div>&nbsp;</div>
            {% endif %}
			{% block body %}{% endblock %}
            <div class="text-center">
                <a class="github-button" href="https://github.com/sensorario/kanbanoise" data-size="large" data-show-count="true" aria-label="Star sensorario/kanbanoise on GitHub">Star</a>
            </div>

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}
		</div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="/tagsinput.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
