<div class="card m-1 draggable" id="card_{{card.id}}" card-id="{{card.id}}">
    <div class="card-header p-1" style="background-color: {{color}};"><a href="{{ url('card_edit', {'id':card.id}) }}">#{{card.id}} - {{card.title}}</a></div>
    <div class="card-text p-1">{{card.description}}</div>
    <div class="card-text p-1"><strong>~{{card.project}}</strong></div>
    <div class="card-text p-1">{% include 'card/_member.html.twig' with {'card':card} %}</div>
    <div class="card-text p-1">{% include 'card/_owner.html.twig' with {'card':card} %}</div>
    <div class="card-footer p-1 taglist">
        {% for tag in card.tags %}
            #{{tag.name}}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="card-footer p-1">
        <span class="text-muted p-1">created : {{card.createdOn|date('d/m/Y')}}</span>
    </div>
    <div class="card-footer p-1">
        {% if is_first_card != true %}
        <span class="back_movement">
            <a class="float-left" id="back_movement_link" href="{{url('card_regress', {'card':card.id})}}">&lt;</a>
        </span>
        {% endif %}
        {% if card.datetime is not null %}<span class="text-muted p-1">expired : {{card.datetime|date('d/m/Y')}}</span>{% endif %}
        {% if is_last_card != true %}
        <span class="forth_movement">
            <a class="float-right" id="forth_movement_link" href="{{url('card_progress', {'card':card.id})}}">&gt;</a>
        </span>
        {% endif %}
    </div>
</div>
