<div class="card m-1 draggable">
    <div class="card-header p-1"><a href="{{ url('card_edit', {'id':card.id}) }}">#{{card.id}} - {{card.title}}</a></div>
    <div class="card-text p-1">{{card.description}}</div>
    <div class="card-text p-1">@{{card.member}}</div>
</div>
