<div class="card m-1 draggable">
    <div class="card-header p-1" style="background-color: {{color}};"><a href="{{ url('card_edit', {'id':card.id}) }}">#{{card.id}} - {{card.title}}</a></div>
    <div class="card-text p-1">{{card.description}}</div>
    <div class="card-text p-1"><strong>~{{card.project}}</strong></div>
    <div class="card-text p-1">{% include 'card/_member.html.twig' with {'card':card} %}</div>
    <div class="card-footer p-1">
        <a class="float-left" href="{{url('card_regress', {'card':card.id})}}">&lt;</a>
        {% if card.datetime is not null %}<span class="text-muted p-1">{{card.datetime|date('d/m/Y')}}</span>{% endif %}
        <a class="float-right" href="{{url('card_progress', {'card':card.id})}}">&gt;</a>
    </div>
</div>
