{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Type</th>
                <th>Member</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td><a href="{{ path('card_show', { 'id': card.id }) }}">{{ card.id }}</a></td>
                <td>{{ card.title }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.status }}</td>
                <td>{{ card.type }}</td>
                <td>{% include 'card/_member.html.twig' with {'card':card} %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
