{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <a href="{{ path('card_index') }}" style="margin-right:4px;" class="btn btn-primary">Back to the list</a>

      {{ form_start(delete_form) }}
          <input type="submit" class="btn btn-danger" value="Delete">
      {{ form_end(delete_form) }}

      <form name="form" method="post" style="margin-left:4px;" action="/card/{{ card.id }}">
          <input type="hidden" name="_method" value="CLONE">
          <input type="submit" class="btn btn-success" value="Clone">
      </form>
    </div>

    <form name="appbundle_card" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label class="required">Datetime</label>
                <div id="appbundle_card_datetime">
                    <div id="appbundle_card_datetime_date">
                        <select id="appbundle_card_datetime_date_year" name="appbundle_card[datetime][date][year]">
                        {% for year in range("now"|date('Y'), ("now"|date('Y')) + 1) %}
                            {% if card.datetime|date('Y') == year %}
                                <option selected="selected" value="{{year}}">{{year}}</option>
                            {% else %}
                                <option value="{{year}}">{{year}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        /
                        <select id="appbundle_card_datetime_date_month" name="appbundle_card[datetime][date][month]">
                        {% for month in range(1, 12) %}
                            {% if card.datetime|date('m') == month %}
                                <option selected="selected" value="{{month}}">{{month}}</option>
                            {% else %}
                                <option value="{{month}}">{{month}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        /
                        <select id="appbundle_card_datetime_date_day" name="appbundle_card[datetime][date][day]">
                        {% for day in range(1, 31) %}
                            {% if card.datetime|date('d') == day %}
                                <option selected="selected" value="{{day}}">{{day}}</option>
                            {% else %}
                                <option value="{{day}}">{{day}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <div id="appbundle_card_datetime_time">
                        <select id="appbundle_card_datetime_time_hour" name="appbundle_card[datetime][time][hour]">
                        {% for i in 0..23 %}
                          <option value="{{i}}" {% if card.datetime|date('H') == i %}selected="selected"{% endif %}>
                            {% if i <= 9 %}0{{i}}{% else %}{{i}}{% endif %}
                          </option>
                        {% endfor %}
                        </select>
                          :
                        <select id="appbundle_card_datetime_time_minute" name="appbundle_card[datetime][time][minute]">
                        {% for i in 0..59 %}
                          <option value="{{i}}" {% if card.datetime|date('i') == i %}selected="selected"{% endif %}>
                            {% if i <= 9 %}0{{i}}{% else %}{{i}}{% endif %}
                          </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4">
              <label for="appbundle_card" class="required">Title</label><br>
              <input type="text" id="appbundle_card" class="form-control" name="appbundle_card[title]" required="required" value="{{ card.title }}">
            </div>

            <div class="form-group col-md-5">
              <label for="appbundle_card" class="required">Description</label><br>
              <textarea id="appbundle_card" class="form-control" name="appbundle_card[description]" required="required">{{ card.description }}</textarea>
            </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            Project :<br>
            {% for project in projects %}
              <div class="form-check form-check-inline">
                <label class="form-check-label required">
                  <input type="radio" class="form-check-input" value="{{project.name}}" name="appbundle_card[project]"
                  {% if project.name == card.project %}checked="checked"{% endif %}> {{project.name}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            Type :<br>
            {% set counter = 0 %}
            {% for type in types %}
              <div class="form-check form-check-inline">
                <label class="form-check-label required">
                  {% set counter = counter + 1 %}
                  <input type="radio" class="form-check-input" id="appbundle_card_type_{{counter}}" value="{{type.name}}" name="appbundle_card[type]"
                  {% if type.name == 'task'%}checked="checked"{% endif %}> {{type.name}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            Status :<br>
            {% set counter = 0 %}
            {% for status in statuses %}
              <div class="form-check form-check-inline">
                <label class="form-check-label required">
                  {% set counter = counter + 1 %}
                  <input type="radio" class="form-check-input" id="appbundle_card_status_{{counter}}" value="{{status.id}}" name="appbundle_card[status]"
                  {% if status == card.status %}checked="checked"{% endif %}> {{status.name}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            Assigned to :<br>
            {% set counter = 0 %}
            {% for member in members %}
              <div class="form-check form-check-inline">
                <label class="form-check-label required">
                  {% set counter = counter + 1 %}
                  <input type="radio" class="form-check-input" id="appbundle_card_member_{{counter}}" value="{{member.name}}" name="appbundle_card[member]"
                  {% if member.name == card.member %}checked="checked"{% endif %}> {{member.name}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            Owned by :<br>
            {% for member in members %}
              <div class="form-check form-check-inline">
                <label class="form-check-label required">
                  <input type="radio" class="form-check-input" value="{{member.name}}" name="appbundle_card[owner]"
                  {% if card.owner == member.name %}checked="checked"{% endif %}> {{member.name}}
                </label>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="tags" class="required">Tags : </label>
            <input data-role="tagsinput" value="{{ tags }}" name="tags" id="tags">
          </div>
        </div>

        {{ form_row(edit_form._token) }}

        <input type="submit" class="btn btn-success" value="Edit">

    </form>


{% endblock %}


{% block javascripts %}
  <script>
      $(function(){
          $('#tags').tagsinput();
      });
  </script>
{% endblock %}
