{% extends 'base.html.twig' %}

{% block body %}
    <h1>Card creation</h1>

    <form name="appbundle_card" method="post">
      <div class="form-row">
          <div class="form-group col-md-3">
              <label class="required">Datetime</label>
              <div id="appbundle_card_datetime">
                  <div id="appbundle_card_datetime_date">
                      <select id="appbundle_card_datetime_date_year" name="appbundle_card[datetime][date][year]">
                      {% for year in range("now"|date('Y'), ("now"|date('Y')) + 1) %}
                          {% if "now"|date('Y') == year %}
                              <option selected="selected" value="{{year}}">{{year}}</option>
                          {% else %}
                              <option value="{{year}}">{{year}}</option>
                          {% endif %}
                      {% endfor %}
                      </select>
                      /
                      <select id="appbundle_card_datetime_date_month" name="appbundle_card[datetime][date][month]">
                      {% for month in range(1, 12) %}
                          {% if "now"|date('m') == month %}
                              <option selected="selected" value="{{month}}">{{month}}</option>
                          {% else %}
                              <option value="{{month}}">{{month}}</option>
                          {% endif %}
                      {% endfor %}
                      </select>
                      /
                      <select id="appbundle_card_datetime_date_day" name="appbundle_card[datetime][date][day]">
                      {% for day in range(1, 31) %}
                          {% if "now"|date('d') == day %}
                              <option selected="selected" value="{{day}}">{{day}}</option>
                          {% else %}
                              <option value="{{day}}">{{day}}</option>
                          {% endif %}
                      {% endfor %}
                      </select>
                  </div>
                  <div id="appbundle_card_datetime_time">
                      <select id="appbundle_card_datetime_time_hour" name="appbundle_card[datetime][time][hour]">
                      {% for i in 0..23 %}
                        <option value="{{i}}">
                          {% if i <= 9 %}0{{i}}{% else %}{{i}}{% endif %}
                        </option>
                      {% endfor %}
                      </select>
                        :
                      <select id="appbundle_card_datetime_time_minute" name="appbundle_card[datetime][time][minute]">
                      {% for i in 0..59 %}
                        <option value="{{i}}">
                          {% if i <= 9 %}0{{i}}{% else %}{{i}}{% endif %}
                        </option>
                      {% endfor %}
                      </select>
                  </div>
              </div>
          </div>

          <div class="form-group col-md-4">
            <label for="appbundle_card_title" class="required">Title</label><br>
            <input type="text" id="appbundle_card_title" class="form-control" name="appbundle_card[title]" required="required">
          </div>

          <div class="form-group col-md-5">
            <label for="appbundle_card" class="required">Description</label><br>
            <textarea id="appbundle_card" class="form-control" name="appbundle_card[description]" required="required"></textarea>
          </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          Project :<br>
          {% set project_counter = 0 %}
          {% for project in projects %}
            {% set project_counter = project_counter + 1 %}
            <div class="form-check form-check-inline">
              <label class="form-check-label required">
                <input type="radio" class="form-check-input" value="{{project.name}}" name="appbundle_card[project]"
                {% if project_counter == 1 %}checked="checked"{% endif %}> {{project.name}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          Type :<br>
          {% set type_counter = 0 %}
          {% for type in types %}
            <div class="form-check form-check-inline">
              <label class="form-check-label required">
                {% set type_counter = type_counter + 1 %}
                <input type="radio" class="form-check-input" id="appbundle_card_type_{{type_counter}}" value="{{type.name}}" name="appbundle_card[type]"
                {% if type_counter == 1 %}checked="checked"{% endif %}> {{type.name}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          Status :<br>
          {% set status_counter = 0 %}
          {% for status in statuses %}
            <div class="form-check form-check-inline">
              <label class="form-check-label required">
                {% set status_counter = status_counter + 1 %}
                <input type="radio" class="form-check-input" id="appbundle_card_status_{{status_counter}}" value="{{status.id}}" name="appbundle_card[status]"
                {% if status_counter == 1 %}checked="checked"{% endif %}> {{status.name}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          Assigned to :<br>
          {% set member_counter = 0 %}
          {% for member in members %}
            <div class="form-check form-check-inline">
              <label class="form-check-label required">
                {% set member_counter = member_counter + 1 %}
                <input type="radio" class="form-check-input" id="appbundle_card_member_{{member_counter}}" value="{{member.name}}" name="appbundle_card[member]"
                {% if member_counter == 1 %}checked="checked"{% endif %}> {{member.name}}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      {{ form_row(form._token) }}

      <input type="submit" class="btn btn-success" value="Create">
      <a href="{{ path('card_index') }}" class="btn btn-primary">Back to the list</a>
    </form>

{% endblock %}
