{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li>
            <a href="{{ path('card_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('card_edit', { 'id': card.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ card.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ card.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ card.status }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
