{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('member_new') }}">Create a new member</a>
        </li>
    </ul>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('member_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td>{{ member.name }}</td>
                <td><a href="{{ path('member_show', { 'id': member.id }) }}">show</a></td>
                <td><a href="{{ path('member_edit', { 'id': member.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
