{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('member_new') }}">Create a new member</a>
        </li>
    </ul>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('member_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td>{{ member.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('member_show', { 'id': member.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('member_edit', { 'id': member.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
