{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li>
            <a href="{{ path('storeddatabase_load', {'storeadDatabase' : storedDatabase.id}) }}">Load</a>
        </li>
        <li>
            <a href="{{ path('storeddatabase_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('storeddatabase_edit', { 'id': storedDatabase.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ storedDatabase.id }}</td>
            </tr>
            <tr>
                <th>Relativepath</th>
                <td>{{ storedDatabase.relativePath }}</td>
            </tr>
            <tr>
                <th>Original name</th>
                <td>{{ storedDatabase.originalName }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
